

$font-primary: 'Poppins',Arial, sans-serif;
$font-secondary: 'Lora',Georgia, serif;
$font-tertiary: 'Amatic SC',cursive;

$white: #fff;
$black: #000000;


$primary: black;
$secondary: #ffe6eb;

$color-1: #e4b2d6;
$color-2: #dcc698;
$color-3: #a2d1e1;
$color-4: #000000;


@mixin transition($transition) {
    -moz-transition:    all $transition ease;
    -o-transition:      all $transition ease;
    -webkit-transition: all $transition ease;
    -ms-transition: 		all $transition ease;
    transition:         all $transition ease;
}

html {
	// overflow-x: hidden;
}
body {
	font-family: $font-primary;
	background: $white;
	font-size: 15px;
	line-height: 1.8;
	font-weight: 400;
	color: lighten($black,50%);
	&.menu-show {
		overflow: hidden;
		position: fixed;
		height: 100%;
		width: 100%;
	}
}
a {
	transition: .3s all ease;
	color: $primary;
	&:hover, &:focus {
		text-decoration: none;
		color: $primary;
	}
}
h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
	line-height: 1.5;
	font-weight: 400;
	color: $black;
	font-family: $font-primary;
}

.text-primary {
	color: $primary!important;
}



	.icon{
		span{
			color: $white;
		}
	}
	.text{
		width: calc(100% - 30px);
		color: rgba(255,255,255,1);
	}
}

.ftco-navbar-light {
	background-color: black ;
	// position: absolute;
	// top: 20px;
	// left: 0;
	// right: 0;
	z-index: 3;
	padding: 0;
	@include media-breakpoint-down(md) {
		background: $black!important;
		position: relative;
		top: 0;
		padding: 10px 15px;
	}
	&.ftco-navbar-light-2{
		color: #000000;
		position: relative;
		top: 0;
	}

	.navbar-brand {
		color: $primary;
		&:hover, &:focus{
			color: $black;
		}
		@include media-breakpoint-down(md){
			color: $white;
		}
	}
	.thead{
		background-color: black;
	}

	.navbar-nav {
		@include media-breakpoint-down(md){
			padding-bottom: 10px;
		}
		> .nav-item {
			> .nav-link {
				font-size: 11px;
				padding-top: 1.5rem;
				padding-bottom: 1.5rem;
				padding-left: 20px;
				padding-right: 20px;
				font-weight: 400;
				color: $black;
				text-transform: uppercase;
				letter-spacing: 2px;
				&:hover {
					color: $black;
				}
				opacity: 1!important;
				@include media-breakpoint-down(md){
					padding-left: 0;
					padding-right: 0;
					padding-top: .9rem;
					padding-bottom: .9rem;
					color: rgba(255,255,255,.7);
					&:hover{
						color: $white;
					}
				}
			}

			